@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    90deg,
    rgb(248, 147, 248),
    rgb(197, 31, 197)
  );
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  padding: 1rem;
  border-color: transparent;
  border-radius: 10px 0 0 10px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.search .input:focus,
.search button:focus {
  outline: none;
}

.search button {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  font-size: x-large;
  border: none;
  border-radius: 0 10px 10px 0;
  transition: transform 0.3s ease;
  cursor: pointer;
  background-color: #fff;
}

.search.active button {
  transform: translateX(198px);
}

.search.active input {
  width: 200px;
}
